<div class="container" style="width: 1460px;"> 
	<div class= "col-md-4" style="margin-top: 20px; font-size: 16px;">
		<section{{ attributes.addClass(classes) }}>
		  {{ title_prefix }}
		  
		  {{ title_suffix }}

		  {% block content %}
		    {{ content }}
		  {% endblock %}

		</section>

	</div>
	
	<div class="col-md-4">
		<h1 class="h1large">Large</h1>
	</div>
	<div class="col-md-4">
		<p class="signupbutton" align="right" >	
			<span class="glyphicon glyphicon-search"></span>
			<button class="btn" >Sign Up</button>	
		</p>
		
	</div>


</div>
<br>
	